<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.shiva.oms.ht.mapper.KafkaReadManagerMapper">
  <resultMap id="BaseResultMap" type="com.sf.shiva.oms.ht.domain.KafkaReadManager">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="filter_condition" jdbcType="VARCHAR" property="filterCondition" />
    <result column="deserialize" jdbcType="VARCHAR" property="deserialize" />
    <result column="create_emp" jdbcType="VARCHAR" property="createEmp" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="modify_emp" jdbcType="VARCHAR" property="modifyEmp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cluster_id, topic, filter_condition, deserialize, create_emp, createtime, updatetime, 
    name, token, modify_emp
  </sql>
  <select id="selectByExample" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManagerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_kafka_read_manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_kafka_read_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tm_kafka_read_manager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManagerExample">
    delete from tm_kafka_read_manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManager">
    insert into tm_kafka_read_manager (id, cluster_id, topic, 
      filter_condition, deserialize, create_emp, 
      createtime, updatetime, name, 
      token, modify_emp)
    values (#{id,jdbcType=VARCHAR}, #{clusterId,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, 
      #{filterCondition,jdbcType=VARCHAR}, #{deserialize,jdbcType=VARCHAR}, #{createEmp,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{modifyEmp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManager">
    insert into tm_kafka_read_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="filterCondition != null">
        filter_condition,
      </if>
      <if test="deserialize != null">
        deserialize,
      </if>
      <if test="createEmp != null">
        create_emp,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="modifyEmp != null">
        modify_emp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="clusterId != null">
        #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="filterCondition != null">
        #{filterCondition,jdbcType=VARCHAR},
      </if>
      <if test="deserialize != null">
        #{deserialize,jdbcType=VARCHAR},
      </if>
      <if test="createEmp != null">
        #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="modifyEmp != null">
        #{modifyEmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManagerExample" resultType="java.lang.Integer">
    select count(*) from tm_kafka_read_manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tm_kafka_read_manager
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.clusterId != null">
        cluster_id = #{record.clusterId,jdbcType=VARCHAR},
      </if>
      <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.filterCondition != null">
        filter_condition = #{record.filterCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.deserialize != null">
        deserialize = #{record.deserialize,jdbcType=VARCHAR},
      </if>
      <if test="record.createEmp != null">
        create_emp = #{record.createEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyEmp != null">
        modify_emp = #{record.modifyEmp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tm_kafka_read_manager
    set id = #{record.id,jdbcType=VARCHAR},
      cluster_id = #{record.clusterId,jdbcType=VARCHAR},
      topic = #{record.topic,jdbcType=VARCHAR},
      filter_condition = #{record.filterCondition,jdbcType=VARCHAR},
      deserialize = #{record.deserialize,jdbcType=VARCHAR},
      create_emp = #{record.createEmp,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      modify_emp = #{record.modifyEmp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManager">
    update tm_kafka_read_manager
    <set>
      <if test="clusterId != null">
        cluster_id = #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="filterCondition != null">
        filter_condition = #{filterCondition,jdbcType=VARCHAR},
      </if>
      <if test="deserialize != null">
        deserialize = #{deserialize,jdbcType=VARCHAR},
      </if>
      <if test="createEmp != null">
        create_emp = #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="modifyEmp != null">
        modify_emp = #{modifyEmp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.shiva.oms.ht.domain.KafkaReadManager">
    update tm_kafka_read_manager
    set cluster_id = #{clusterId,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR},
      filter_condition = #{filterCondition,jdbcType=VARCHAR},
      deserialize = #{deserialize,jdbcType=VARCHAR},
      create_emp = #{createEmp,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      modify_emp = #{modifyEmp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>