.sendImage {
  outline: none;
  border: none;
  width: 42px;
  height: 36px;
  background: #fff url('http://sfpp.sf-express.com/sfpp-frontend/public/images/innovation/icon/icon_sent.png') no-repeat;
  background-origin: content-box;
  padding: 10px;
  margin-top: 6px;
  margin-right: 16px;
  border-radius: 5px;
}

.faces1 {margin-left:18px;}

.face ul{
	margin-left: -33px;
}

.face ul li{
	list-style-type:none;
	display:inline-block;
 width: 22px;
  height: 22px;
  margin: 3px;
}

#commentTable,#commentTable tr, #commentTable tbody, #commentTable tr td{
	border:none;
}

.commentContainer .fixed-table-container{
	border:none;
}

/* .commentContainer .fixed-table-container{min-height:800px;} */

.commentContainer .fixed-table-body{height:auto;}

 #commentTextArea{  
     width:200px;  
     height:30px;  
     border:1px solid grey;  
 }  
 #commentTextArea:empty::before{  
     color:lightgrey;  
     content:attr(placeholder);  
 }  