<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	
	<bean id="defaultProperty"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:system.properties</value>
				<value>classpath:hbase.properties</value>
			</list>
		</property>
	</bean>
	<!-- 开启service注解支持 -->
	<context:component-scan base-package="com.sf.shiva.oms.ht">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />
		<context:exclude-filter type="regex"
			expression="com.sf.shiva.oms.ht.web.*" />
	</context:component-scan>
	
	<bean id="log4jInitialization" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
         <property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
         <property name="targetMethod" value="initLogging" />
         <property name="arguments">
             <list>
                 <value>classpath:log4j.xml</value>
             </list> 
         </property>
     </bean>
     
     <task:annotation-driven/>

	<import resource="spring-config-datasource.xml" />
	<import resource="spring-http-client.xml" />
</beans>