<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.shiva.oms.ht.mapper.DbConnCfgMapper">
  <resultMap id="BaseResultMap" type="com.sf.shiva.oms.ht.domain.DbConnCfg">
    <id column="db_id" jdbcType="VARCHAR" property="dbId" />
    <result column="conn_name" jdbcType="VARCHAR" property="connName" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_tm" jdbcType="TIMESTAMP" property="createTm" />
    <result column="create_emp" jdbcType="VARCHAR" property="createEmp" />
    <result column="modify_tm" jdbcType="TIMESTAMP" property="modifyTm" />
    <result column="modify_emp" jdbcType="VARCHAR" property="modifyEmp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    db_id, conn_name, host, port, db_name, username, password, create_tm, create_emp, 
    modify_tm, modify_emp
  </sql>
  <select id="selectByExample" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_db_conn_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_db_conn_cfg
    where db_id = #{dbId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tm_db_conn_cfg
    where db_id = #{dbId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfgExample">
    delete from tm_db_conn_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfg">
    insert into tm_db_conn_cfg (db_id, conn_name, host, 
      port, db_name, username, 
      password, create_tm, create_emp, 
      modify_tm, modify_emp)
    values (#{dbId,jdbcType=VARCHAR}, #{connName,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, 
      #{port,jdbcType=INTEGER}, #{dbName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{createTm,jdbcType=TIMESTAMP}, #{createEmp,jdbcType=VARCHAR}, 
      #{modifyTm,jdbcType=TIMESTAMP}, #{modifyEmp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfg">
    insert into tm_db_conn_cfg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbId != null">
        db_id,
      </if>
      <if test="connName != null">
        conn_name,
      </if>
      <if test="host != null">
        host,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createTm != null">
        create_tm,
      </if>
      <if test="createEmp != null">
        create_emp,
      </if>
      <if test="modifyTm != null">
        modify_tm,
      </if>
      <if test="modifyEmp != null">
        modify_emp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbId != null">
        #{dbId,jdbcType=VARCHAR},
      </if>
      <if test="connName != null">
        #{connName,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTm != null">
        #{createTm,jdbcType=TIMESTAMP},
      </if>
      <if test="createEmp != null">
        #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyTm != null">
        #{modifyTm,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyEmp != null">
        #{modifyEmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfgExample" resultType="java.lang.Integer">
    select count(*) from tm_db_conn_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tm_db_conn_cfg
    <set>
      <if test="record.dbId != null">
        db_id = #{record.dbId,jdbcType=VARCHAR},
      </if>
      <if test="record.connName != null">
        conn_name = #{record.connName,jdbcType=VARCHAR},
      </if>
      <if test="record.host != null">
        host = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null">
        port = #{record.port,jdbcType=INTEGER},
      </if>
      <if test="record.dbName != null">
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.createTm != null">
        create_tm = #{record.createTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createEmp != null">
        create_emp = #{record.createEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTm != null">
        modify_tm = #{record.modifyTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyEmp != null">
        modify_emp = #{record.modifyEmp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tm_db_conn_cfg
    set db_id = #{record.dbId,jdbcType=VARCHAR},
      conn_name = #{record.connName,jdbcType=VARCHAR},
      host = #{record.host,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=INTEGER},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      create_tm = #{record.createTm,jdbcType=TIMESTAMP},
      create_emp = #{record.createEmp,jdbcType=VARCHAR},
      modify_tm = #{record.modifyTm,jdbcType=TIMESTAMP},
      modify_emp = #{record.modifyEmp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfg">
    update tm_db_conn_cfg
    <set>
      <if test="connName != null">
        conn_name = #{connName,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTm != null">
        create_tm = #{createTm,jdbcType=TIMESTAMP},
      </if>
      <if test="createEmp != null">
        create_emp = #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyTm != null">
        modify_tm = #{modifyTm,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyEmp != null">
        modify_emp = #{modifyEmp,jdbcType=VARCHAR},
      </if>
    </set>
    where db_id = #{dbId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.shiva.oms.ht.domain.DbConnCfg">
    update tm_db_conn_cfg
    set conn_name = #{connName,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      db_name = #{dbName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_tm = #{createTm,jdbcType=TIMESTAMP},
      create_emp = #{createEmp,jdbcType=VARCHAR},
      modify_tm = #{modifyTm,jdbcType=TIMESTAMP},
      modify_emp = #{modifyEmp,jdbcType=VARCHAR}
    where db_id = #{dbId,jdbcType=VARCHAR}
  </update>
</mapper>