<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.shiva.oms.ht.mapper.HbaseQueryCfgMapper">
  <resultMap id="BaseResultMap" type="com.sf.shiva.oms.ht.domain.HbaseQueryCfg">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="query_type" jdbcType="VARCHAR" property="queryType" />
    <result column="filter_family" jdbcType="VARCHAR" property="filterFamily" />
    <result column="filter_column" jdbcType="VARCHAR" property="filterColumn" />
    <result column="query_param" jdbcType="VARCHAR" property="queryParam" />
    <result column="is_fuzzy_search" jdbcType="VARCHAR" property="isFuzzySearch" />
    <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
    <result column="create_tm" jdbcType="TIMESTAMP" property="createTm" />
    <result column="create_emp" jdbcType="VARCHAR" property="createEmp" />
    <result column="modify_tm" jdbcType="TIMESTAMP" property="modifyTm" />
    <result column="modify_emp" jdbcType="VARCHAR" property="modifyEmp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, module_name, table_name, query_type, filter_family, filter_column, query_param, 
    is_fuzzy_search, limit_num, create_tm, create_emp, modify_tm, modify_emp
  </sql>
  <select id="selectByExample" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_hbase_query_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_hbase_query_cfg
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tm_hbase_query_cfg
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfgExample">
    delete from tm_hbase_query_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfg">
    insert into tm_hbase_query_cfg (id, module_name, table_name, 
      query_type, filter_family, filter_column, 
      query_param, is_fuzzy_search, limit_num, 
      create_tm, create_emp, modify_tm, 
      modify_emp)
    values (#{id,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{queryType,jdbcType=VARCHAR}, #{filterFamily,jdbcType=VARCHAR}, #{filterColumn,jdbcType=VARCHAR}, 
      #{queryParam,jdbcType=VARCHAR}, #{isFuzzySearch,jdbcType=VARCHAR}, #{limitNum,jdbcType=INTEGER}, 
      #{createTm,jdbcType=TIMESTAMP}, #{createEmp,jdbcType=VARCHAR}, #{modifyTm,jdbcType=TIMESTAMP}, 
      #{modifyEmp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfg">
    insert into tm_hbase_query_cfg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="queryType != null">
        query_type,
      </if>
      <if test="filterFamily != null">
        filter_family,
      </if>
      <if test="filterColumn != null">
        filter_column,
      </if>
      <if test="queryParam != null">
        query_param,
      </if>
      <if test="isFuzzySearch != null">
        is_fuzzy_search,
      </if>
      <if test="limitNum != null">
        limit_num,
      </if>
      <if test="createTm != null">
        create_tm,
      </if>
      <if test="createEmp != null">
        create_emp,
      </if>
      <if test="modifyTm != null">
        modify_tm,
      </if>
      <if test="modifyEmp != null">
        modify_emp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="queryType != null">
        #{queryType,jdbcType=VARCHAR},
      </if>
      <if test="filterFamily != null">
        #{filterFamily,jdbcType=VARCHAR},
      </if>
      <if test="filterColumn != null">
        #{filterColumn,jdbcType=VARCHAR},
      </if>
      <if test="queryParam != null">
        #{queryParam,jdbcType=VARCHAR},
      </if>
      <if test="isFuzzySearch != null">
        #{isFuzzySearch,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null">
        #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="createTm != null">
        #{createTm,jdbcType=TIMESTAMP},
      </if>
      <if test="createEmp != null">
        #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyTm != null">
        #{modifyTm,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyEmp != null">
        #{modifyEmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfgExample" resultType="java.lang.Integer">
    select count(*) from tm_hbase_query_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tm_hbase_query_cfg
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.queryType != null">
        query_type = #{record.queryType,jdbcType=VARCHAR},
      </if>
      <if test="record.filterFamily != null">
        filter_family = #{record.filterFamily,jdbcType=VARCHAR},
      </if>
      <if test="record.filterColumn != null">
        filter_column = #{record.filterColumn,jdbcType=VARCHAR},
      </if>
      <if test="record.queryParam != null">
        query_param = #{record.queryParam,jdbcType=VARCHAR},
      </if>
      <if test="record.isFuzzySearch != null">
        is_fuzzy_search = #{record.isFuzzySearch,jdbcType=VARCHAR},
      </if>
      <if test="record.limitNum != null">
        limit_num = #{record.limitNum,jdbcType=INTEGER},
      </if>
      <if test="record.createTm != null">
        create_tm = #{record.createTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createEmp != null">
        create_emp = #{record.createEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTm != null">
        modify_tm = #{record.modifyTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyEmp != null">
        modify_emp = #{record.modifyEmp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tm_hbase_query_cfg
    set id = #{record.id,jdbcType=VARCHAR},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      query_type = #{record.queryType,jdbcType=VARCHAR},
      filter_family = #{record.filterFamily,jdbcType=VARCHAR},
      filter_column = #{record.filterColumn,jdbcType=VARCHAR},
      query_param = #{record.queryParam,jdbcType=VARCHAR},
      is_fuzzy_search = #{record.isFuzzySearch,jdbcType=VARCHAR},
      limit_num = #{record.limitNum,jdbcType=INTEGER},
      create_tm = #{record.createTm,jdbcType=TIMESTAMP},
      create_emp = #{record.createEmp,jdbcType=VARCHAR},
      modify_tm = #{record.modifyTm,jdbcType=TIMESTAMP},
      modify_emp = #{record.modifyEmp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfg">
    update tm_hbase_query_cfg
    <set>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="queryType != null">
        query_type = #{queryType,jdbcType=VARCHAR},
      </if>
      <if test="filterFamily != null">
        filter_family = #{filterFamily,jdbcType=VARCHAR},
      </if>
      <if test="filterColumn != null">
        filter_column = #{filterColumn,jdbcType=VARCHAR},
      </if>
      <if test="queryParam != null">
        query_param = #{queryParam,jdbcType=VARCHAR},
      </if>
      <if test="isFuzzySearch != null">
        is_fuzzy_search = #{isFuzzySearch,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null">
        limit_num = #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="createTm != null">
        create_tm = #{createTm,jdbcType=TIMESTAMP},
      </if>
      <if test="createEmp != null">
        create_emp = #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyTm != null">
        modify_tm = #{modifyTm,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyEmp != null">
        modify_emp = #{modifyEmp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.shiva.oms.ht.domain.HbaseQueryCfg">
    update tm_hbase_query_cfg
    set module_name = #{moduleName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      query_type = #{queryType,jdbcType=VARCHAR},
      filter_family = #{filterFamily,jdbcType=VARCHAR},
      filter_column = #{filterColumn,jdbcType=VARCHAR},
      query_param = #{queryParam,jdbcType=VARCHAR},
      is_fuzzy_search = #{isFuzzySearch,jdbcType=VARCHAR},
      limit_num = #{limitNum,jdbcType=INTEGER},
      create_tm = #{createTm,jdbcType=TIMESTAMP},
      create_emp = #{createEmp,jdbcType=VARCHAR},
      modify_tm = #{modifyTm,jdbcType=TIMESTAMP},
      modify_emp = #{modifyEmp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>