<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.shiva.oms.ht.mapper.extend.SysRoleInfoExtMapper">
	<resultMap id="BaseResultMap" type="com.sf.shiva.oms.ht.domain.SysRoleInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="sys_role_uid" jdbcType="VARCHAR" property="sysRoleUid" />
		<result column="sys_role_name" jdbcType="VARCHAR" property="sysRoleName" />
		<result column="sys_role_desc" jdbcType="VARCHAR" property="sysRoleDesc" />
		<result column="createtime" jdbcType="VARCHAR" property="createtime" />
		<result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
		<result column="updateuid" jdbcType="VARCHAR" property="updateuid" />
		<result column="del_status" jdbcType="BIT" property="delStatus" />
	</resultMap>

	<sql id="Base_Column_List">
		id, sys_role_uid, sys_role_name, sys_role_desc, createtime,
		updatetime, updateuid, del_status
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_info
		where id = #{id,jdbcType=BIGINT}
		and del_status = 0
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="com.sf.shiva.oms.ht.domain.SysRoleInfo">
		update sys_role_info
		<set>
			<if test="sysRoleUid != null">
				sys_role_uid = #{sysRoleUid,jdbcType=VARCHAR},
			</if>
			<if test="sysRoleName != null">
				sys_role_name = #{sysRoleName,jdbcType=VARCHAR},
			</if>
			<if test="sysRoleDesc != null">
				sys_role_desc = #{sysRoleDesc,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=VARCHAR},
			</if>
			<if test="updateuid != null">
				updateuid = #{updateuid,jdbcType=VARCHAR},
			</if>
			<if test="delStatus != null">
				del_status = #{delStatus,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
		and del_status = 0
	</update>

	<update id="updateToDeleteStatus" parameterType="java.lang.Long">
		update sys_role_info
		set del_status = 1
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="getUserRoleByUserNo" resultType="com.sf.shiva.oms.ht.domain.SysUserRoleInfo"
		parameterType="java.lang.String">
		SELECT r.id as id, r.sys_role_uid as sysRoleUid,
		r.sys_role_name as sysRoleName, r.sys_role_desc as sysRoleDesc,
		CASE
		WHEN t.roleId IS NULL THEN FALSE ELSE TRUE END AS bindState
		FROM
		sys_role_info r
		LEFT JOIN (
		SELECT rel.sys_role_uid roleId
		FROM
		sys_user_role rel
		WHERE rel.sys_user_uid=#{userNo}) t ON
		r.sys_role_uid=t.roleId
		WHERE r.del_status = 0
		ORDER BY r.sys_role_uid
	</select>
	<insert id="bindUserRole" parameterType="java.lang.String">
		insert into
		sys_user_role (sys_user_uid,
		sys_role_uid,createtime,updatetime) values
		(#{userNo}, #{roleId},
		#{createtime}, #{updatetime})
	</insert>

	<delete id="unBindUserRole" parameterType="java.lang.String">
		delete from
		sys_user_role where sys_role_uid=#{roleId} and
		sys_user_uid=#{userNo}
	</delete>
</mapper>